/* .products {
  display: flex;
  flex-wrap: wrap;
  }
  .item {
  width: 25%;
  list-style: none;
  }
  .item img {
  width: 100%;
  
  }; */
.footer {
  }
  .footer__holder {
  }
  .container {
  }
  .footer__sign {
  }
  .footer__sign-text {
  }
  .footer__link {
  }
  .footer__link-text {
  }
  .footer__link-icon {
  }
  .icon {
  }
  .footer__link-social {
  }
  .link {
  }
