.wrapper {
  min-height: 100vh;
  color: #000;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  background-color: #F1E8E6;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container {
  background-color: #fff;
  padding: 1em;
  border-radius: 1em;
  max-width: 768px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px 17px 34px -20px #f55951;
          box-shadow: 0px 17px 34px -20px #f55951;
}
.title {
  font-size: 1.6rem;
  font-weight: 700;
  
}




.text {
  font-size: 1rem;
  margin-bottom: 0.8em;
}

.container {
  max-width: 400px;
  overflow: hidden;
  padding: 0;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.img__container {
  height: 200px;
  overflow: hidden;
  margin-bottom: 1.5em;
}

.title {
  margin-bottom: 0.9em;
}
.subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: 700;
} 


.content {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 2em;
  margin-bottom: 1.8em;
}

.mail {
  padding: 0.5em 0 0.5em 1.5em;
  line-height: 3;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

::-webkit-input-placeholder {
  color: #111127;
}

:-ms-input-placeholder {
  color: #111127;
}

::-ms-input-placeholder {
  color: #111127;
}

::placeholder {
  color: #111127;
}

.subscribe {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #f55951;
  padding: 0.9em 0;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  margin-bottom: 1.3em;
}

.text {
  font-size: 0.9rem;
  width: 90%;
  text-align: center;
}

/* body{
  
    min-height: 100vh;
    color: #000;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    background-color: #d1cbcb;
    display: -ms-grid;
    display: grid;
    place-items: center;
  
}
.container{
  max-width: 400px;
  overflow: hidden;
  padding: 0;
}
.hero__sub{
  
    background-color: rgb(188, 165, 239);
    padding: 1em;
    border-radius: 1em;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 17px 34px -20px #f55951;
            box-shadow: 0px 17px 34px -20px #f55951;
  
  
}

.hero__sub-title{
  
    font-size: 1.6rem;
    font-weight: 700;}
 
  
  .hero__sub-text {
    font-size: 1rem;
    margin-bottom: 0.8em;
  }


 */


/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.hero__sub {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient((rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./images/popcorn.png"));
  background-size: cover;
  background-position: center;
  padding: 10px 10%;
  color: rgb(97, 100, 188);
}

.hero__sub-title{
margin-top: 30px;
font-size: 50px;
}

.hero__sub-text{
  margin: 10px 0 50px;
  
}

.hero__sub-form{
  background-color: #fff;
  display: flex;
  width: fit-content;
}

.hero__sub-input{
  border: 0;
  outline: none;
  padding: 10px 20px;
  height: 70px;
  width: 400px;
  font-size: 16px;
}
.hero__sub-button{
  background-color: orangered;
border: none;
outline: none;
height: 70px;
width: 100px;
cursor: pointer;
}

.hero__sub-span{
  color: green;
  margin-top: 10px;
  display:  block;
} */


/* :root {
  --accent: #F18260;
  --purple: #252431;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  color: var(--purple);
  padding: 10% 5%;
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.4;
}

.form-container {
  position: relative;
  background: #fff;
  padding: 2rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 350px;
  min-height: 300px;
  margin: 0 auto;
  box-shadow: 0 10px 50px 0 #ccc;
  margin-bottom: 2rem;
}

input, button {
  appearance: none;
  border: none;
  font-size: inherit;
  background: #eee;
  border-radius: 3px;
  padding: 1rem;
  width: 100%;
}

input {
  margin-bottom: 1rem;
}

input:focus {
  outline: 1px solid var(--accent);
}

button {
  color: #fff;
  cursor: pointer;
  background-color: var(--purple);
}

button:hover {
  background-color: var(--accent);
}

.is-hidden {
  display: none !important;
}

a {
  display: block;
  width: max-content;
  margin: 0 auto;
  color: var(--accent);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

@keyframes rotate {
 100% { transform: rotate(360deg); }
}

@keyframes dash {
 0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
 50% { stroke-dasharray: 89,200; stroke-dashoffset: -35; }
 100% { stroke-dasharray: 89,200; stroke-dashoffset: -124; }
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 50px;
  height: 50px;
}

.loading-spinner svg {
  position: relative;
  animation: rotate 2s linear infinite;
  height: 50px;
  width: 50px;
}

.loading-spinner circle {
  stroke: var(--accent);
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
} */